# Ignore everything
*

# Allow Git to enter directories
!*/

# Ignore generated PDF/rendering caches.
tmp/
tmp/**

# Ignore trash explicitly
trash/
trash/**

# Keep only the wanted files at repo root
!.gitignore
!main.tex
!bib.tex
!chapter*.tex
.serena/
